{:deps     {:aliases [:dev :daemon :test :cljs :provided]}
 :nrepl    {:port 9000}
 :dev-http {9001 "resources/public"}
 :builds   {:daemon-ui    {:target     :browser
                           :output-dir "resources/public/js/daemon-ui"
                           :asset-path "/js/daemon-ui"
                           :modules    {:main {:init-fn com.fulcrologic.copilot.daemon.ui.main-ui/init}}
                           :dev        {:compiler-options {:external-config {:guardrails {:throw? false}}}}
                           :devtools   {:after-load com.fulcrologic.copilot.daemon.ui.main-ui/refresh
                                        :preloads   [com.fulcrologicpro.fulcro.inspect.preload]}}

            :self-checker {:target     :browser
                           :output-dir "resources/public/js/self-checker"
                           :asset-path "js/self-checker"
                           :modules    {:main {:init-fn self-checker/init}}
                           :dev        {:compiler-options {:external-config {:guardrails {:throw? false :mode :pro}}}}
                           :devtools   {:after-load self-checker/reload
                                        :preloads   [com.fulcrologicpro.fulcro.inspect.preload]}}

            :test         {:target           :browser-test
                           :test-dir         "resources/public/js/test"
                           :ns-regexp        "-spec$"
                           :compiler-options {:static-fns      false
                                              :external-config {:guardrails {:throw? false}}}
                           :devtools         {:http-port          9002
                                              :http-resource-root "public"
                                              :http-root          "resources/public/js/test"}}

            :ci-tests     {:target     :karma
                           :dev        {:compiler-options {:static-fns      false
                                                           :external-config {:guardrails {:throw? true}}}}
                           :release    {:compiler-options {:static-fns false}}
                           :js-options {:js-provider :shadow}
                           :output-to  "target/ci.js"
                           :ns-regexp  "-spec$"}}}
