#kaocha/v1
        {:tests           [{:id           :unit
                            :ns-patterns  ["-test$" "-spec$"]
                            :test-paths   ["src/test" "src/test_cases" "src/system_test"]
                            :source-paths ["src/main" "src/daemon"]}]
         :plugins         []
         :capture-output? true
         :bindings        {kaocha.stacktrace/*stacktrace-filters*
                           ["java.lang." "java.util.concurrent."
                            "clojure.test$" "clojure.lang." "clojure.core" "clojure.main" "clojure.walk"
                            "orchestra." "kaocha." "lambdaisland.tools.namespace.reload"]}}
