{:org.httpkit.server/config       {:port 3000}
 :ring.middleware/defaults-config {:static {:resources "public"}
                                   :params {:urlencoded true}}
 :taoensso.timbre/logging-config  {:level :info}}
