[
 {:date "2020-06-17" :description "Planning with tony" :timespans [[1345 1430]]}
 {:date "2020-06-18" :description "Research into reader" :timespans [[1130 1245]]}
 {:date "2020-06-18" :description "AOT research" :timespans [[1950 2020]]}
 {:date "2020-08-05" :description "Planning with tony" :timespans [[1245 1400]]}
 {:date "2020-08-05" :description "calculate-function-type" :timespans [[1915 2015]]}
 {:date "2020-08-06" :description "calculate-function-type" :timespans [[1500 1630]]}
 {:date "2020-08-07" :description "calculate-function-type" :timespans [[1130 1310] [1630 1820] [1900 1930]]}
 {:date "2020-08-10" :description "calculate-function-type" :timespans [[2030 2130]]}
 {:date "2020-08-11" :description "Planning with tony" :timespans [[1600 1645]]}
 {:date "2020-08-12" :description "analyze" :timespans [[1000 1300] [1720 1920]]}
 {:date "2020-08-13" :description "analyze" :timespans [[1420 1515]]}
 {:date "2020-08-13" :description "clojure reader" :timespans [[1630 1715]]}
 {:date "2020-08-14" :description "research into linters" :timespans [[1200 1300]]}
 {:date "2020-08-14" :description "refactoring, research, clojure reader integration" :timespans [[1515 1900]]}
 {:date "2020-08-22" :description "pairing on implementation spike" :timespans [[1600 1900]]}
 {:date "2020-08-24" :description "design with tony" :timespans [[900 1030]]}
 {:date "2020-08-24" :description "destructuring" :timespans [[1030 1230] [1330 1630]]}
 {:date "2020-08-24" :description "review with tony" :timespans [[1700 1730]]}
 {:date "2020-08-25" :description "design with tony" :timespans [[900 1130]]}
 {:date "2020-08-25" :description "error reporting refactoring" :timespans [[1345 1745]]}
 {:date "2020-08-26" :description "planning with tony" :timespans [[900 1000]]}
 {:date "2020-08-26" :description "location tracking" :timespans [[1000 1200] [1245 1600]]}
 {:date "2020-08-26" :description "daemon ui build & server" :timespans [[2100 2200]]}
 {:date "2020-08-27" :description "planning with tony" :timespans [[930 1045]]}
 {:date "2020-08-28" :description "planning, daemon ui, vim integration" :timespans [[745 1200] [1315 1915]]}
 {:date "2020-08-29" :description "wrapping up vim integration" :timespans [[1030 1100]]}
 {:date "2020-08-29" :description "talking with tony and daemon server" :timespans [[1100 1300]]}
 {:date "2020-08-31" :description "chat with tony" :timespans [[900 1000]]}
 {:date "2020-08-31" :description "timesheets.clj error checking" :timespans [[1030 1100]]}
 {:date "2020-08-31" :description "analyze-hashmap!" :timespans [[1400 1600]]}
 {:date "2020-08-31" :description ">fdef and >ftag" :timespans [[1600 1630]]}
 {:date "2020-09-01" :description "chat with tony" :timespans [[930 1100]]}
 {:date "2020-09-01" :description "analyze-hashmap!" :timespans [[1100 1145] [1300 1400]]}
 {:date "2020-09-01" :description "-> and >ftag" :timespans [[1400 1730] [1900 2140]]}
 {:date "2020-09-02" :description "chat with tony, form-hash" :timespans [[900 1030]]}
 {:date "2020-09-02" :description "only changed & >ftag clojure.core" :timespans [[1900 2140]]}
 {:date "2020-09-03" :description "pairing, fixing only changed, >ftag clojure core, return-sample-generator" :timespans [[900 1200] [1430 1800] [1900 2120]]}
 {:date "2020-09-04" :description "hofs & >fn >fspec parsing" :timespans [[800 1200] [1400 1830] [2030 2300]]}
 {:date "2020-09-07" :description "pairing, parsing & gspec metadata" :timespans [[930 1230] [1340 1640] [1710 1750] [1945 2100]]}
 {:date "2020-09-08" :description ">fn" :timespans [[915 1340] [1520 1600]]}
 {:date "2020-09-09" :description ">fn & form-expression" :timespans [[900 1200] [1300 1500]]}
 {:date "2020-09-10" :description "analyze! >fn & map" :timespans [[900 1030] [1130 1330] [1415 1530] [1630 1800]]}
 {:date "2020-09-11" :description "chat with tony" :timespans [[900 1000]]}
 {:date "2020-09-12" :description "test fixtures & analyze! >fn" :timespans [[930 1420]]}
 {:date "2020-09-12" :description "organizing codebase" :timespans [[1420 1500]]}
 {:date "2020-09-14" :description "finishing nested fns" :timespans [[900 1240] [1330 1545]]}
 {:date "2020-09-15" :description "analyze constantly" :timespans [[900 930] [1020 1220] [1335 1435]]}
 {:date "2020-09-16" :description "sampler testing & fixing" :timespans [[800 1230] [1330 1615] [1645 1845] [2000 2115]]}
 {:date "2020-09-17" :description "sampler testing & fixing" :timespans [[945 1100] [1130 1245]]}
 {:date "2020-09-17" :description "problem recording refactoring" :timespans [[1320 1610]]}
 {:date "2020-09-17" :description "research into malli / spec2 protocol" :timespans [[1610 1710]]}
 {:date "2020-09-18" :description "initial spec protocol implementation" :timespans [[900 1055]]}
 {:date "2020-09-18" :description "lsp server" :timespans [[1055 1225] [1335 1705] [2000 2245]]}
 {:date "2020-09-19" :description "clojure reader" :timespans [[1115 1245]]}
 {:date "2020-09-21" :description "publish diagnostics" :timespans [[830 1030]]}
 {:date "2020-09-21" :description "daemon port file" :timespans [[1030 1130]]}
 {:date "2020-09-21" :description "lsp connections" :timespans [[1130 1400]]}
 {:date "2020-09-21" :description "problem indexing" :timespans [[1400 1530]]}
 {:date "2020-09-21" :description "problem reporting" :timespans [[1530 1620]]}
 {:date "2020-09-22" :description "self checker" :timespans [[830 1130]]}
 {:date "2020-09-23" :description "self checker" :timespans [[1015 1300] [1400 1920]]}
 {:date "2020-09-24" :description "re-architect guardrails" :timespans [[1000 1300] [1500 1720]]}
 {:date "2020-09-24" :description "rewrite" :timespans [[1720 1930] [2130 2240]]}
 {:date "2020-09-25" :description "rewrite" :timespans [[930 1100] [1400 1510] [1620 1750] [1945 2130]]}
 {:date "2020-09-27" :description "rewrite" :timespans [[820 1200] [1700 1815]]}
 {:date "2020-09-28" :description "rewrite" :timespans [[900 1200] [1300 1910] [2220 2300]]}
 {:date "2020-09-29" :description "planning, debugging, refactoring" :timespans [[1010 1200] [1445 1930]]}
 {:date "2020-09-30" :description ">fn & analyze-lambda!" :timespans [[900 1130] [1130 1230]]}
 {:date "2020-09-30" :description "if & threading macros" :timespans [[1300 1430]]}
 {:date "2020-09-30" :description "more macro analyzing" :timespans [[1510 1730]]}
 {:date "2020-09-30" :description "exploration / research" :timespans [[1730 1810]]}
 {:date "2020-10-01" :description "destructuring" :timespans [[1800 1900] [1945 2100]]}
 {:date "2020-10-02" :description "map-like sampler" :timespans [[1240 1320]]}
 ]
