[{:date "2020-06-17" :description "Licensing site setup" :timespans [[1840 1950]]}
 {:date "2020-06-18" :description "Subscriptions and licensing chat w/ Tony" :timespans [[840 900]]}
 {:date "2020-06-21" :description "Stripe subs management research" :timespans [[2045 2115]}
 ]
