[
 {:date "2020-06-17" :description "Planning on form tracking" :timespans [[1345 1420]]}
 {:date "2020-06-18" :description "Review/Planning, wrote docs on form capture" :timespans [[815 836]]}
 {:date "2020-06-19" :description "SWOT and docs" :timespans [[910 930]]}
 {:date "2020-06-20" :description "More docs laying out things like requirements" :timespans [[2000 2030]]}
 {:date "2020-06-22" :description "GR/GRPro integration, analyzer research" :timespans [[1320 1455] [1630 1730]]}
 {:date "2020-07-11" :description "implementation spike" :timespans [[1015 1730] [1800 1900]]}
 {:date "2020-07-12" :description "implementation spike" :timespans [[1400 1745]]}
 {:date "2020-07-14" :description "implementation spike" :timespans [[1800 2030]]}
 {:date "2020-07-16" :description "implementation spike" :timespans [[2200 2400]]}
 {:date "2020-07-17" :description "implementation spike" :timespans [[1730 1915]]}
 {:date "2020-07-21" :description "implementation spike" :timespans [[1815 2055]]}
 {:date "2020-07-22" :description "implementation spike" :timespans [[2110 2310]]}
 {:date "2020-07-31" :description "numerous new ideas. added task markers and docs" :timespans [[545 730]]}
 {:date "2020-08-03" :description "getting an initial check working" :timespans [[1050 1400]]}
 {:date "2020-08-11" :description "design with Anthony" :timespans [[1550 1635]]}
 {:date "2020-08-22" :description "implementation spike" :timespans [[1600 1900]]}
 {:date "2020-08-24" :description "pairing, got basic IntelliJ plugin highlighting stuff in prototype plugin" :timespans [[900 1030] [1900 2100]]}
 {:date "2020-08-25" :description "pairing, design of error reporting" :timespans [[900 1100]]}
 {:date "2020-08-26" :description "pairing" :timespans [[850 945]]}
 {:date "2020-08-27" :description "pairing, contact accountant, look for legal help" :timespans [[930 1045] [1315 1330]]}
 {:date        "2020-08-28"
  :description "planning, help with reader problems, create website, worked on IJ Plugin"
  :timespans   [[900 930] [1400 1425] [1500 1545] [1930 2200]]}
 {:date "2020-08-29" :description "pairing, LSP research" :timespans [[1230 1430] [1850 2200]]}
 {:date "2020-08-30" :description "worked on UI" :timespans [[1630 2200]]}
 {:date "2020-08-31" :description "pairing, biz dev, design" :timespans [[900 950] [1100 1500]]}
 {:date "2020-09-01" :description "pairing, IntelliJ plugin" :timespans [[930 1100] [1200 1910]]}
 {:date      "2020-09-02" :description "IntelliJ plugin, user experience design, pairing, checkin"
  :timespans [[830 955] [1700 1930]]}
 {:date "2020-09-03" :description "pairing, experiments with adv compile" :timespans [[520 1130]]}
 {:date "2020-09-04" :description "pairing" :timespans [[900 930]]}
 {:date "2020-09-05" :description "IntelliJ plugin, some bug tweaks" :timespans [[1245 1900]]}
 {:date "2020-09-06" :description "IntelliJ plugin, type annotations on bindings" :timespans [[950 1900]]}
 ]

