[{:date "2020-06-17" :description "Planning on form tracking" :timespans [[1345 1420]]}
 {:date "2020-06-18" :description "Review/Planning, wrote docs on form capture" :timespans [[815 836]]}
 {:date "2020-06-19" :description "SWOT and docs" :timespans [[910 930]]}
 {:date "2020-06-20" :description "More docs laying out things like requirements" :timespans [[2000 2030]]}
 {:date "2020-06-22" :description "GR/GRPro integration, analyzer research" :timespans [[1320 1455] [1630 1730]]}
 {:date "2020-07-11" :description "implementation spike" :timespans [[1015 1730] [1800 1900]]}
 {:date "2020-07-12" :description "implementation spike" :timespans [[1400 1745]]}
 {:date "2020-07-14" :description "implementation spike" :timespans [[1800 2030]]}
 {:date "2020-07-16" :description "implementation spike" :timespans [[2200 2400]]}
 {:date "2020-07-17" :description "implementation spike" :timespans [[1730 1915]]}
 {:date "2020-07-21" :description "implementation spike" :timespans [[1815 2055]]}
 {:date "2020-07-22" :description "implementation spike" :timespans [[2110 2310]]}
 {:date "2020-07-31" :description "numerous new ideas. added task markers and docs" :timespans [[545 730]]}
 {:date "2020-08-03" :description "getting an initial check working" :timespans [[1050 1400]]}
 {:date "2020-08-11" :description "design with Anthony" :timespans [[1550 1635]]}
 {:date "2020-08-22" :description "implementation spike" :timespans [[1600 1900]]}
 {:date "2020-08-24" :description "pairing, got basic IntelliJ plugin highlighting stuff in prototype plugin" :timespans [[900 1030] [1900 2100]]}
 {:date "2020-08-25" :description "pairing, design of error reporting" :timespans [[900 1100]]}
 {:date "2020-08-26" :description "pairing" :timespans [[850 945]]}
 {:date "2020-08-27" :description "pairing, contact accountant, look for legal help" :timespans [[930 1045] [1315 1330]]}
 {:date        "2020-08-28"
  :description "planning, help with reader problems, create website, worked on IJ Plugin"
  :timespans   [[900 930] [1400 1425] [1500 1545] [1930 2200]]}
 {:date "2020-08-29" :description "pairing, LSP research" :timespans [[1230 1430] [1850 2200]]}
 {:date "2020-08-30" :description "worked on UI" :timespans [[1630 2200]]}
 {:date "2020-08-31" :description "pairing, biz dev, design" :timespans [[900 950] [1100 1500]]}
 {:date "2020-09-01" :description "pairing, IntelliJ plugin" :timespans [[930 1100] [1200 1910]]}
 {:date      "2020-09-02" :description "IntelliJ plugin, user experience design, pairing, checkin"
  :timespans [[830 955] [1700 1930]]}
 {:date "2020-09-03" :description "pairing, experiments with adv compile" :timespans [[520 1130]]}
 {:date "2020-09-04" :description "pairing" :timespans [[900 930]]}
 {:date "2020-09-05" :description "IntelliJ plugin, some bug tweaks" :timespans [[1245 1900]]}
 {:date "2020-09-06" :description "IntelliJ plugin, type annotations on bindings" :timespans [[950 1900]]}
 {:date "2020-09-07" :description "check-in, HOF work" :timespans [[930 1000] [1710 1815] [1945 2100]]}
 {:date "2020-09-08" :description "HOF work" :timespans [[815 1105]]}
 {:date "2020-09-09" :description "check-in" :timespans [[900 945]]}
 {:date "2020-09-10" :description "check-in" :timespans [[915 945]]}
 {:date "2020-09-11" :description "check-in" :timespans [[921 950]]}
 {:date        "2020-09-13"
  :description "GR free's bloat problems"
  :timespans   [[1611 1730]]}
 {:date "2020-09-14" :description "check-in" :timespans [[900 920]]}
 {:date "2020-09-15" :description "check-in" :timespans [[900 930]]}
 {:date "2020-09-16" :description "check-in" :timespans [[900 920]]}
 {:date "2020-09-17" :description "check-in" :timespans [[945 1100]]}
 {:date "2020-09-18" :description "check-in" :timespans [[900 1055]]}
 {:date "2020-09-21" :description "check-in" :timespans [[900 920]]}
 {:date "2020-09-22" :description "check-in" :timespans [[900 930]]}
 {:date "2020-09-23" :description "check-in" :timespans [[1015 1045]]}
 {:date "2020-09-24" :description "check-in" :timespans [[1000 1020]]}
 {:date "2020-09-25" :description "check-in" :timespans [[930 1100]]}
 {:date "2020-09-28" :description "check-in" :timespans [[1045 1115]]}
 {:date "2020-09-29" :description "check-in" :timespans [[1100 1145]]}
 {:date "2020-10-02" :description "check-in" :timespans [[1420 1442]]}
 {:date "2020-10-05" :description "check-in" :timespans [[845 1010]]}
 {:date "2020-10-09" :description "check-in" :timespans [[1100 1200]]}
 {:date "2020-10-11" :description "check-in" :timespans [[1011 1300]]}
 {:date "2020-10-21" :description "check-in" :timespans [[1330 1400]]}
 {:date "2020-10-22" :description "check-in" :timespans [[900 930]]}
 {:date "2020-10-27" :description "check-in" :timespans [[1200 1300]]}
 {:date "2020-10-28" :description "check-in" :timespans [[1300 1400]]}
 {:date "2020-10-29" :description "check-in" :timespans [[1200 1230]]}
 {:date "2020-10-30" :description "check-in" :timespans [[1200 1230]]}
 {:date "2020-11-02" :description "check-in" :timespans [[1200 1230]]}
 {:date "2020-11-03" :description "check-in" :timespans [[1200 1230]]}
 {:date "2020-11-04" :description "check-in" :timespans [[1200 1230]]}
 {:date "2020-11-05" :description "check-in" :timespans [[1200 1230]]}
 {:date "2020-11-06" :description "check-in" :timespans [[1200 1230]]}
 {:date      "2020-11-08" :description "setup, build plugin, test a bit, start on user guide"
  :timespans [[915 1105] [1600 1800]]}
 {:date "2020-11-10" :description "check-in, next steps" :timespans [[1200 1215] [1445 1545]]}
 {:date "2020-11-11" :description "check-in" :timespans [[1200 1215]]}
 {:date "2020-11-12" :description "check-in" :timespans [[1200 1215]]}
 {:date "2020-11-13" :description "check-in" :timespans [[1200 1215]]}
 {:date "2020-11-14" :description "MVN repo, SSL, basic auth, mvn publish" :timespans [[1500 1915]]}
 {:date "2020-11-16" :description "user portal, planning" :timespans [[1100 1730] [1800 2000]]}
 {:date "2020-11-17" :description "remove external dependencies" :timespans [[1300 1710]]}
 {:date "2020-11-27" :description "pairing, added specs, etc" :timespans [[630 930] [1230 1500]]}
 {:date      "2020-11-28" :description "project rename, attempts to make it possible to work on checker while working on other project"
  :timespans [[1100 1430] [1620 1911]]}
 {:date "2020-11-30" :description "error msgs, various bug fixes, etc." :timespans [[1109 2000]]}
 {:date "2020-12-01" :description "design, business webapp" :timespans [[1130 1700]]}
 {:date "2020-12-02" :description "check-in" :timespans [[1200 1220]]}
 {:date "2020-12-03" :description "check-in" :timespans [[1200 1220]]}
 {:date "2020-12-04" :description "check-in, help with tests" :timespans [[1200 1220] [1730 1800]]}
 {:date "2020-12-05" :description "business webapp" :timespans [[900 1145] [1200 1220] [1300 1835]]}
 {:date "2020-12-07" :description "licensing" :timespans [[1600 1645]]}
 {:date "2020-12-08" :description "check-in and licensing, fixed deftc to work in IJ" :timespans [[1225 1300] [1730 1920]
                                                                                                  [1920 1945]]}
 ]